<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoatZoo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>7</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>827D12E65267A2E203B911734A1D061FCEF44BCA</string>
				<key>dateExpires</key>
				<string>28/03/2025</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.11.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>827D12E65267A2E203B911734A1D061FCEF44BCA</string>
						<key>dateExpires</key>
						<string>28/03/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q7RX9AGPC6</string>
						<key>name</key>
						<string>ROSILAND BLANKS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Q7RX9AGPC6.com.appsnado.goatzoo</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Q7RX9AGPC6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>GoatZoo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ded8e80a-27c5-4fad-b299-5cf0eb69526a</string>
				<key>dateExpires</key>
				<string>12/04/2025</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.appsnado.goatzoo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Q7RX9AGPC6</string>
				<key>name</key>
				<string>ROSILAND BLANKS</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
